services:
  db:
    image: postgres:15
    container_name: ans_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ans_dashboard
    ports:
      - "5433:5432"
    volumes:
      - ./data:/data
      - ./backend/database:/docker-entrypoint-initdb.d

  backend:
    build: .  
    container_name: ans_api
    command: uvicorn backend.app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - .:/app  
    environment:
      - DB_HOST=db
      - DB_NAME=ans_dashboard
      - DB_USER=postgres
      - DB_PASSWORD=password
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ans_frontend_vue
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always
volumes:
  pg_data: